/* --- Основний колір тексту #757575 --- */
/* --- Вторинний колір тексту rgba(255, 255, 255, 0.6) --- */
/* --- Колір тексту заголовків #212121 --- */
/* --- Акцентний колір #2196f3 --- */
/* --- Первинний колір фону #fff --- */
/* --- Вторинний колір фону #2f303a --- */
/* --- Додатковий колір фону #f5f4fa --- */
/* --- Колір межі хедеру і картки члена команди #ececec --- */
/* --- Колір межі картки портфоліо #eee --- */
/* --- Колір фону активної кнопки #188ce8 --- */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgb(255 255 255 / 0.6);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --additional-bg-color: #f5f4fa;
  --primary-border-color: #ececec;
  --secondary-border-color: #eee;
  --button-active-color: #188ce8;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---header--- */

.page-header {
  border-bottom: 1px solid var(--primary-border-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* ---navigation--- */

.site-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

/* ---logo--- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-text-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* ---nav-list--- */

.nav-list {
  display: flex;
  gap: 50px;
}

.page-header .header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header .header-link:hover,
.page-header .header-link:focus {
  color: var(--accent-color);
}

.header-link.nav-link {
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  gap: 50px;
}

.contacts .header-link {
  color: var(--primary-text-color);
}

/* ---hero--- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}

/* ---section--- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.colored {
  background-color: var(--additional-bg-color);
}

.section.no-padding {
  padding-top: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* ---features--- */

.features {
  display: flex;
  gap: 30px;
}

.feature-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* ---works--- */

.works {
  display: flex;
  gap: 30px;
}

/* ---team--- */

.team-list {
  display: flex;
  gap: 30px;
}

.team-card {
  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inner-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

/* ---footer--- */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

/* ---address--- */

.address {
  font-style: normal;
}

.address-list > .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-link.colored {
  color: var(--primary-bg-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* --------------Portfolio----------------- */

/* ---filter--- */

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filter .button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* ---portfolio-list--- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-content {
  padding: 20px 24px;
  border-right: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-left: 1px solid var(--secondary-border-color);
}

.portfolio-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
