/* ---Колір основного тексту #757575--- */
/* ---Колір тексту заголовків #212121--- */
/* ---Вторинний колір тексту rgba(255, 255, 255, 0.6)--- */
/* ---Black color logo #000000--- */
/* ---Accent color #2196F3--- */
/* ---Первинний колір фону #FFFFFF--- */
/* ---Вторинний колір фону #2F303A--- */
/* ---Попелястий колір фону #F5F4FA--- */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --secondary-text-color: rgb(255 255 255 / 0.6);
  --ashen-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --cards-border-color: #eeeeee;
  --button-active-color: #188ce8;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ---header--- */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* ---navigation--- */

.site-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

/* ---logo--- */

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: var(--title-text-color);
}

.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* ---nav-list--- */

.nav-list {
  display: flex;
  gap: 50px;
}

.link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  gap: 50px;
}

.contacts .link {
  color: var(--primary-text-color);
}

/* ---hero--- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}

/* ---section--- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  gap: 30px;
}

/* ---features--- */

.feature-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* ---works--- */

.work-section {
  padding-top: 0;
}

/* ---team--- */

.team-section {
  background-color: var(--ashen-background-color);
}

.team-card {
  border-right: 1px solid var(--header-border-color);
  border-bottom: 1px solid var(--header-border-color);
  border-left: 1px solid var(--header-border-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inner-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-color);
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

/* ---footer--- */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--white-color);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

/* ---address--- */

.address {
  font-style: normal;
}

.address-list > .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list .link {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.address-list .address-link {
  color: var(--white-color);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

/* --------------Portfolio----------------- */

.portfolio-title {
  color: var(--title-text-color);
}

/* ---filter--- */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter .button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--ashen-background-color);
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* ---portfolio-list--- */

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-inner-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--cards-border-color);
  border-bottom: 1px solid var(--cards-border-color);
  border-left: 1px solid var(--cards-border-color);
}

.portfolio-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
